.form{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    margin: 20px;
   color:#0F82FC




}

textarea{
padding: 100px;
margin: 20px;
resize: none;
color:#BDDDF8;
font-family: 'Trebuchet MS';
background-color: white;
color: #000;
font-size: 20px;
}

:disabled {
    background-color:#73BDFB;
  }

body{
    background-color: #BDDDF8;

;
    aspect-ratio: auto;
}

.texto{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
}

.subtitles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#0F82FC



}


.switch{
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    padding-top: 10px;
}

button{
    font-family: 'Trebuchet MS';
    margin-left: 45px;
    margin-right: 50px;
    background-color: #0F82FC;
    border-color: #0F82FC;
    border-radius: 15%;
    color:white;
    width: 15em;
    height: 5em;
    font-size: 150%;



}

footer{
    background-color: #BDDDF8;
    color:#0F82FC;
    display:flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
}

img{
    height: 100px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }